@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-playfair);
  
  --animate-marquee: marquee 25s linear infinite;
  
  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

body {
  font-family: var(--font-sans);
}
